In [9]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [10]:
import pandas as pd

In [15]:
df = pd.read_csv('/content/drive/MyDrive/데비_프로젝트/데이터/삼성_50일주가데이터.csv',encoding='cp949')

In [16]:
df.head()

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
0,2022/09/19,56400,200,0.36,56300,57000,56000,12278653,693636680000,336695735820000,5969782550
1,2022/09/16,56200,200,0.36,55600,56400,55500,13456503,752455682838,335501779310000,5969782550
2,2022/09/15,56000,-800,-1.41,57000,57100,56000,11664819,657641711500,334307822800000,5969782550
3,2022/09/14,56800,-1300,-2.24,56200,57200,56100,12524961,709906007000,339083648840000,5969782550
4,2022/09/13,58100,2500,4.50,57000,58500,56800,17166581,991015891355,346844366155000,5969782550

In [17]:
# 필요한 데이터만
df = df[['일자','종가','대비','등락률','거래량']]
df

            일자     종가    대비   등락률       거래량
0   2022/09/19  56400   200  0.36  12278653
1   2022/09/16  56200   200  0.36  13456503
2   2022/09/15  56000  -800 -1.41  11664819
3   2022/09/14  56800 -1300 -2.24  12524961
4   2022/09/13  58100  2500  4.50  17166581
5   2022/09/08  55600  -400 -0.71  18000016
6   2022/09/07  56000 -1100 -1.93  17384854
7   2022/09/06  57100     0  0.00   7503086
8   2022/09/05  57100  -400 -0.70  11425977
9   2022/09/02  57500  -900 -1.54  15040310
10  2022/09/01  58400 -1300 -2.18  14905777
11  2022/08/31  59700   900  1.53  14203512
12  2022/08/30  58800   200  0.34   9690044
13  2022/08/29  58600 -1400 -2.33   9841329
14  2022/08/26  60000   300  0.50   9499995
15  2022/08/25  59700   700  1.19   5767902
16  2022/08/24  59000  -100 -0.17   8888486
17  2022/08/23  59100  -900 -1.50   9041629
18  2022/08/22  60000  -900 -1.48   8259865
19  2022/08/19  60900  -600 -0.98   6923679
20  2022/08/18  61500  1100  1.82  16372754
21  2022/08/17  60400  -600 -0.98   9061518
22  2022/08/16  61000   800  1.33  15036727
23  2022/08/12  60200   300  0.50  10786658
24  2022/08/11  59900   800  1.35  15141941
25  2022/08/10  59100  -900 -1.50  18084349
26  2022/08/09  60000  -800 -1.32  18251170
27  2022/08/08  60800  -700 -1.14  11313150
28  2022/08/05  61500     0  0.00   9567620
29  2022/08/04  61500   200  0.33   9125439
30  2022/08/03  61300  -400 -0.65  10053861
31  2022/08/02  61700   400  0.65  13614895
32  2022/08/01  61300  -100 -0.16  13154816